<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
      <p>
        <table class="button large expand"><tr><td><table><tr><td><center data-parsed=""><a href="${actionUrl}" align="center" class="float-center">${actionHeader}</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
      </p>
    </th>
<th class="expander"></th></tr></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>