<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
      <hr>
    </th>
<th class="expander"></th></tr></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-6 large-6 columns first"><table><tr><th>
      <small>
        <a href="{{{DOMAIN_CLIENT}}}" class="text-left">
          <span>Current Week</span>
        </a>
        <span>&nbsp; • &nbsp;</span>
        <a href="{{{USER_UNSUBSCRIBE}}}">
          <span>Unsubscribe</span>
        </a>
      </small>
    </th></tr></table></th>
    <th class="text-right small-3 large-1 columns last"><table><tr><th>
      <table class="row"><tbody><tr>
        <th class="small-6 large-6 columns first"><table><tr><th>
          <a href="https://www.facebook.com/DotNetWeekly/">
            <img src="{{{DOMAIN_NEWSLETTER}}}images/social-facebook.png" width="24" height="24" alt="">
          </a> &nbsp;&nbsp;
        </th></tr></table></th>
        <th class="small-6 large-6 columns last"><table><tr><th>
          <a href="https://twitter.com/dotnetweekly">
            <img src="{{{DOMAIN_NEWSLETTER}}}images/social-twitter.png" width="24" height="24" alt="">
          </a>
        </th></tr></table></th>
      </tr></tbody></table>
    </th></tr></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>