<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
      <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
      
      <h1 class="text-center">Forgot password request</h1>
      
      <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 

      <p class="text-center">Please click on the button to change your password</p>
      <p>
        <table class="button large expand"><tr><td><table><tr><td><center data-parsed=""><a href="{{{DOMAIN_CLIENT}}}forgot-password/${ACTIVATE_TOKEN}" align="center" class="float-center">Change Password</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
      </p>
    </th>
<th class="expander"></th></tr></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>