<table align="center" class="container header body-drip"><tbody><tr><td>
  <table class="row"><tbody><tr>
      <th class="small-12 large-12 columns first last"><table><tr><th>
        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
        <a href="{{{DOMAIN_CLIENT}}}">
          <img src="{{{DOMAIN_NEWSLETTER}}}images/logo.png" width="164" height="28" alt="dotNET Weekly">
        </a>
      </th>
<th class="expander"></th></tr></table></th>
    </tr></tbody></table>
</td></tr></tbody></table>
  
<table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 