<table align="center" class="container"><tbody><tr><td>
    <table class="row header"><tbody><tr>
      <th class="small-12 large-12 columns first last"><table><tr><th>
        <table class="row"><tbody><tr>
          <th class="small-12 large-12 columns first last" style="padding-bottom:0"><table><tr><th>
            <h6>
              <a href="${linkResource}">
                ${linkTitle}
              </a>
            </h6>
          </th>
<th class="expander"></th></tr></table></th>
        </tr></tbody></table>
        <table class="row"><tbody><tr>
          <th class="small-12 large-6 columns first" style="padding-bottom:0"><table><tr><th>
            <table class="row"><tbody><tr>
              <th class="small-3 large-2 columns first"><table><tr><th>
                <small><img src="{{{DOMAIN_NEWSLETTER}}}images/link.png"></small>
              </th></tr></table></th>
              <th class="small-9 large-10 columns last"><table><tr><th>
                <small>${linkRoot}</small>
              </th></tr></table></th>
            </tr></tbody></table>
          </th></tr></table></th>
          <th class="small-12 large-6 columns last" style="padding-bottom:0"><table><tr><th>
            <table class="row"><tbody><tr>
              <th class="small-3 large-2 columns first"><table><tr><th>
                <small><img src="{{{DOMAIN_NEWSLETTER}}}images/tags.png"></small>
              </th></tr></table></th>
              <th class="small-9 large-10 columns last"><table><tr><th>
                <small>${linkTags}</small>
              </th></tr></table></th>
            </tr></tbody></table>
          </th></tr></table></th>
        </tr></tbody></table>
      </th></tr></table></th>
    </tr></tbody></table>
    <table class="row"><tbody><tr>  
      <th class="small-12 large-12 columns first last"><table><tr><th>
      </th>
<th class="expander"></th></tr></table></th>
    </tr></tbody></table>
  </td></tr></tbody></table>