<table align="center" class="container"><tbody><tr><td>
  <table class="row header"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
      <table class="row"><tbody><tr>
        <th class="no-b-pm small-1 large-1 columns first"><table><tr><th>
          <h5>
            <img src="${linkCategoryImage}">
          </h5>
        </th></tr></table></th>
        <th class="no-b-pm small-11 large-11 columns last"><table><tr><th>
          <h5>
            ${linkCategoryName}
          </h5>
        </th></tr></table></th>
      </tr></tbody></table>
    </th></tr></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>