<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
      <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
      <p class="text-center">
        <small>Week: ${week} - Year ${year}</small>
      </p>
      <hr>
    </th>
<th class="expander"></th></tr></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>