$color_background: #fafafa;
$color_body: #888888; //#888888
$color_link: #3273dc; //#35bec5
$color_paragraph: #a9b3ba; //#a9b3ba
$color_bright: #ffffff; //#ffffff
$color_success: #3fdb98;
$color_danger: #d46377;
$color_warning: #edb476;
$color_light: #f2f2f5;
$color_header: #383d42; //#383d42
$color_header_2: #616161; //#616161
$color_subtext: #a7b1b6; //#a7b1b6

$color_cell: #f5f5f5; //#d8dde4
$color_highlight: #5c2d91;