@import "_variables";
@import "foundation/foundation-emails";

html {
	background: #f3f3f3;
}

.body-drip {
	border-top: 8px solid $color_highlight;
}

.no-b-pm {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.linkCategoryHeader > tbody > tr > .first.last,
.linkHeader > tbody > tr > .first.last {
	padding-top: 8px !important;
}
